/* ============
OVERALL DESIGN
================*, */

*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* ================
VARIABLES
=================== */
:root {
    --color-brown: #26221C;
}

:root {
    --color-blue: hsl(184 35% 63%);
}

:root {
    --color-green: #396D3E;
}

:root {
    --color-offwhite: #E0E0E0;
}

:root {
    --font-header: 'Raleway', sans-serif;
}

:root {
    --font-bold: 'Oxygen-700', sans-serif;
}

:root {
    --font-paragraph: 'Oxygen', sans-serif;
}


/* =============
NAVIGATION
=============== */

nav {
    /* opacity: 0.7; */
    background-color: var(--color-brown);
    padding: 30px 0;
    text-align: center;
    position: fixed;
    top: -2px;
    z-index: 2;
    width: 100%;
    max-width: 100%;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-family: var(--font-header);
    font-size: 15px;
    font-weight: 700;
}

/* navigation links */
nav ul a {
    text-decoration: none;
    color: var(--color-offwhite);
    text-transform: uppercase;
    padding: 30px 2px 30px 2px;
}

/* Sustainability By Design Navigation */
nav h1 a {
    text-decoration: none;
    margin: auto;
    font-size: 20px;
    opacity: 1.0;
    color: var(--color-blue);
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

/* Hover effects */
nav ul a:hover {
    background-color: var(--color-green);
    color: white;
}

nav:hover {
    opacity: 1.0;
}

/* ============
HEADER SECTION
=============== */

header {
    background-attachment: fixed;
    background-image: url(images/Bark_background.jpg);
    background-size: cover;
    height: 100vh;
    overflow: auto;
    width: auto;
}

.date-location,
.header-title {
    color: white;
    font-family: var(--font-bold);
}

.home-page-info {
    margin-top: 300px;
}

/* social media icons */
.social-media-icons li {
    fill: var(--color-blue);
    width: 40px;
    display: inline-block;
    position: relative;
    top: 350px;
    margin-right: 30px;
}

/* home page screen date and location */
.date,
.location {
    background-color: var(--color-green);
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: left;
}

/* Sustainability By Design Home Page Title*/
.home-page-title {
    color: white;
    font-size: 45px;
    line-height: 1;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
    width: 300px;
    z-index: 1;
    max-width: 100%;
}

/* ============= */

h1,
h3,
h2 {
    font-family: var(--font-header)
}

h2,
h3 {
    color: var(--color-blue);
}

/* ================
MISSION 
==================*/

p {
    font-family: var(--font-paragraph)
}

h2 {
    padding: 10px;
    font-size: 60px;
    text-align: center;
}

h3 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    margin-top: 80px;
}

.quotes {
    background-color: var(--color-green);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

/* removing default styles from button */
.button-reset {}

.left-column,
.right-column {
    width: 90%;
    margin: auto;
}


/* ===========
SPEAKER SECTION
=============== */

.speakers {
    width: 80%;
    margin: auto;
}

.speakers img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 80%;
}

.speaker-info {
    list-style-type: none;
    text-align: center;
    margin-bottom: 70px;
    padding: 0;

}

.speaker-name {
    font-weight: 700;
    text-transform: uppercase;
}

.speaker-title {
    margin-bottom: 10px;
}

.speaker-name,
.speaker-title {
    font-size: 18px;
}


/* =============
SCHEDULE
================ */

.schedule-info,
.schedule-time {
    font-family: 'Roboto Slab', serif;
}

.schedule-info {
    list-style-type: none;
    padding: 10px 20px;
    border: hsl(184 35% 63%) solid;
    margin: auto;
}

.schedule-time {
    background-color: hsl(184 35% 63%);
    padding: 7px;
    color: white;
    display: inline-block;
    margin: 30px 0 10px;

}

.left-friday,
.right-saturday {
    width: 80%;
    margin: auto;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    border-left: 5px hsl(184 35% 63%) solid;
}


/* ==============
MEDIA QUERIES
================= */

@media (min-width: 800px) {
    nav ul a {
        padding: 30px 20px;
        font-size: 17px;
    }

    .home-page-title {
        font-size: 60px;
        top: 40%;
    }

    .date-location {
        font-size: 20px;
    }

    .left-column,
    .right-column {
        display: inline-block;
        width: 40%;
        margin: 0 4%;
    }

}

@media (min-width: 1200px) {
    nav ul a {
        padding: 30px 90px;
    }

    .home-page-title {
        font-size: 80px;
        width: 375px;
        top: 40%;
    }

    /*FIX THIS */
    .left-column,
    .right-column {
        display: inline-block;
        width: 25%;
        margin: auto;
    }
}
