body {
    background-color: whitesmoke;
    width: 1700px;
}

.octopus-image {
    max-width: 200%;
    height: auto;
    width: 1700px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 500px;
    margin-right: 200px;
}

figcaption {
    font-size: 13px;
    color: #808080;
    fill: #fdcd96;
}


.one {
    width: 1700px;
    height: 0x;
    margin: 20px auto;
    margin-top: 60px;
    border: 5px solid #d07f7d;
}

.two {
    width: 1700px;
    height: 0px;
    margin: 20px auto;
    border: 5px solid #d07f7d;
    margin-right: 0px;
    margin-left: 0px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 96px;
    color: #d07f7d;
    margin-right: 300px;
    margin-left: 650px;
    margin-top: -20px;
    line-height: 1.3;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    color: #808080;
    margin-right: 300px;
    margin-left: 650px;
    margin-top: -20px;
    opacity: 70%;
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    margin-right: 300px;
    margin-left: 650px;
    color: #808080;
    font-size: 16px;
    font-weight: normal;
}

h4 {
    font-family: 'Noto Sans', sans-serif;
    margin-right: 300px;
    margin-left: 650px;
    font-size: 16px;
    color: #808080;
    font-weight: normal;
}

p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-right: 300px;
    margin-left: 650px;
    line-height: 2.2;
}

#quote1 p {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    margin-left: 450;
    color: #fdcd96;
}

#pullquote p {
    font-family: 'Noto Sans', serif;
    background-color: #fdcd96;
    margin-right: 500px;
    margin-left: 500px;
    font-size: 20px;
    border: 5px;
    padding: 20px;
    border-color: #fdcd96;
}

.author-photo {
    width: 50%;
    float: left;
    /*border: 5px solid #fdcd96;*/
    margin-left: 100px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    width: 1700px;
    height: 500px;
    background-color: #fdcd96;
    margin-top: 100px;
    /*border: 500px solid #fdcd96;
    padding: 500px #fdcd96; */
}

/*hr {
    width: 100%;
    height: 5px;
    fill: #d07f7d;
    color: #d07f7d;
}*/



/*comments look like this*/
